# .env.example (COMMIT ESTO)
PORT=5000
NODE_ENV=production
MONGODB_URI=mongodb+srv://admin:admin123456@cluster0.c9dvygd.mongodb.net/?appName=Cluster0
JWT_SECRET=METSIM_SECRET_KEY_2024_PRODUCTION
CORS_ORIGINS=https://metsim-frontend.vercel.app
RESEND_API_KEY=re_DD6wAnXC_DGAksJu5oVaD75TxRhJ5mixK
SENDER_EMAIL=onboarding@resend.dev
ADMIN_EMAIL=metsim51024@gmail.com

CLOUDINARY_CLOUD_NAME=dk6wclcew
CLOUDINARY_API_KEY=447351517499288
CLOUDINARY_API_SECRET=Jzh7nS0aFKUfhWPnQ9vGN-XLrLU



# Autenticación
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin@2024
JWT_SECRET=METSIM_SECRET_KEY_2024_PRODUCTION

# Email (si usas)
EMAIL_USER=hugo92noguera@gmail.com
EMAIL_PASSWORD=cbtm qofe tjdq hysu

# URLs
FRONTEND_URL=https://tu-frontend.vercel.app
BACKEND_URL=https://metsim-backend.onrender.com


